{
  // React 17 optional new JSX transform: enable automatic runtime
  // Version delta: React 16.8.6 -> 17.0.2
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true,
        "exclude": [
          "babel-plugin-transform-regenerator",
          "transform-async-to-generator"
        ]
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    ["styled-components", { "ssr": true }],
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    // Remove old React JSX transform plugin in favor of preset with automatic runtime
    "syntax-dynamic-import",
    "syntax-async-generators",
    "transform-async-generator-functions",
    "react-loadable/babel",
    "babel-plugin-inline-import-graphql-ast"
  ]
}
