{
  // React 17 optional new JSX transform: enable automatic runtime
  // Version delta: React 16.8.6 -> 17.0.2
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["styled-components", { "ssr": true }],
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-async-generators",
    "@babel/plugin-transform-async-generator-functions",
    "react-loadable/babel",
    "babel-plugin-inline-import-graphql-ast"
  ]
}
